<!DOCTYPE html>
  <html>
  
  <head>
    <title>Fiction Generator</title>
  </head>
  
  <body>
    <h2>Welcome to the Fiction Generator!</h2>
    <br> <br> <br>
    <p>Click the button to randomly generate a story!</p>
    <p><%= link_to "Generate Story", button_story_path %></p>
  </body>
  
  </html>