<!DOCTYPE html>
    <html>
    
    <head>
        <title>Your Story</title>
    </head>
    
    <body>
        <h2>This is your story!</h2>
        <br> <br>
        <p>Your story is called <%= @my_title %></p>
        <p><%= @my_story %></p>
        <p><%= link_to "Generate another story!", button_story_path%></p>
        <p><%= link_to "Return Home!", button_home_path%></p>
    </body>
    
    </html>