<!DOCTYPE html>
    <html>
    
    <head>
        <title>Your Story</title>
        
        <script>
            function loadXMLDoc()
                {
                var xmlhttp;
                if (window.XMLHttpRequest)
                    {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp=new XMLHttpRequest();
                    }
                else
                    {// code for IE6, IE5
                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                xmlhttp.onreadystatechange=function()
                    {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                        {
                        document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                        }
                    }
                xmlhttp.open("GET","#{@my_story}",true);
                xmlhttp.send();
                }
        </script>
    </head>
    
    <body>
        <div id="myDiv">
        <h2><%= @my_title %></h2>
        <br>
        <p><%= @my_story %></p>
        <p><button type="button" onclick="loadXMLDoc()">Let Ajax load another story!</button></p>
        <p><%= link_to "Return Home!", button_home_path%></p>
        </div>
    </body>
    
    <div id="footer">
    <footer>
        <p>This fiction generator was created by Jamie Pryde for AWAD weely assignment one.</p>
    </footer>
    </div>
    
    </html>